fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pytest
flake8
passlib[bcrypt]
python-jose
pytest-env
boto3
moto[s3]
mercadopago
email-validator
pydantic[email]
python-multipart
clerk-sdk-python
openai
python-dotenv
requests
pandas
openpyxl